# Binaries
tamagotchi
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out

# Save files
tamagotchi_save.json

# Dependency directories
vendor/
